In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('imdb20_reddit30_twitter50.csv', index_col= False)

In [4]:
df

,Unnamed: 0,reviewText,sentiment
0,0,I grew up (b. 1965) watching and loving the Th...,0
1,5,A terrible movie as everyone has said. What ma...,0
2,6,Finally watched this shocking movie last night...,1
3,11,If you haven't seen the gong show TV series th...,0
4,26,"The Argentinian music poet, Atahualpa Yupanqui...",1
...,...,...,...
40079,39988,An underrated addition to the Graham Greene ci...,1
40080,39992,Although I agree that it's a good but not grea...,1
40081,39994,My girlfriend has the habit of going to Blockb...,0
40082,39998,"When I first watched Flatliners, I was amazed....",1
40083,39999,"Why would this film be so good, but only gross...",1

In [5]:
df = df.drop(['Unnamed: 0'], axis=1)

In [6]:
df

                                              reviewText  sentiment
0      I grew up (b. 1965) watching and loving the Th...          0
1      A terrible movie as everyone has said. What ma...          0
2      Finally watched this shocking movie last night...          1
3      If you haven't seen the gong show TV series th...          0
4      The Argentinian music poet, Atahualpa Yupanqui...          1
...                                                  ...        ...
40079  An underrated addition to the Graham Greene ci...          1
40080  Although I agree that it's a good but not grea...          1
40081  My girlfriend has the habit of going to Blockb...          0
40082  When I first watched Flatliners, I was amazed....          1
40083  Why would this film be so good, but only gross...          1

[40084 rows x 2 columns]

In [ ]:
df.to_csv('cleaned_imdb20_reddit30_twitter50.csv')